<div class="wrapper">
    <div class="banner-content">
        <div class="container">
            <div class="row">
                <form class="outside-login" ng-submit="vm.save()">
                    <!--form-->
                    <div class="row">
                        <!--row-->
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <!--col-lg-12-->

                            <div class="form-group">
                                <!--form-group-->
                                <label class="control-label label_style">Firstname</label>
                                <input type="text" class="form-control" ng-model="vm.profile.firstName">
                            </div>
                            <!--form-group-ends-->
                            <div class="form-group">
                                <!--form-group-->
                                <label class="control-label label_style">Lastname</label>
                                <input type="text" class="form-control" ng-model="vm.profile.lastName">
                            </div>
                            <button class="btn btn-color col-sm-12" type="submit">Save</button>
                        </div>
                        <!--col-lg-12 ends-->
                    </div>
                    <!--row-ends-->
                </form>
                <!--form-->
            </div>
        </div>
    </div>
</div>